langchain
fastapi
pydantic
uvicorn
python-multipart
langchain-core
langchain-mcp-adapters
pillow
pydub
opencv-python
qdrant-client
redis
python-dotenv
langchain-community
langchain-google-genai
langchain-groq
langchain-nvidia-ai-endpoints
langgraph
httpx
langchain-postgres